.content-application_roles {
    padding: 40px;
    width: 80%;
    padding-left: 90px;
    text-align: left;
    
   }

   .list-application_roles {
    flex:1;
    text-align: left;
    border-top:4px solid lightgray;
   }

   .RolesPreview {
    /* background-color: #4ff062; */
    background-color: lightgreen;
   }



   @media only screen and (max-width: 600px) {
    .block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .guia {
        display: none; /* Ocultar en dispositivos móviles */
    }
    .list-application_roles{
        border-top:none;
        
    }
    .applicationIcon,
    .borders {
        width: 90%; 
    }

}